---
const target = '/traducciones/pq2espanol';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Persona Q2 - Traducción al Español</title>
    <link rel="canonical" href={`https://a2workshop.github.io${target}`} />
    <script is:inline define:vars={{ target }}>
      location.replace(`${target}${location.search}${location.hash}`);
    </script>
  </head>
  <body>
    <a href={target}>Persona Q2 Traducción al Español</a>
  </body>
</html>
